<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImageNET" version="3.17.1" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net40" />
  <package id="itextsharp.pdfa" version="5.5.13.1" targetFramework="net40" />
  <package id="itextsharp.xmlworker" version="5.5.13.1" targetFramework="net40" />
  <package id="itextsharp.xtra" version="5.5.13.1" targetFramework="net40" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.15.0" targetFramework="net40" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net40" developmentDependency="true" />
</packages>